<div class="welcome">
  <h1>Welcome into vacancies site</h1>
  <h3>We have <%= @vacancies.size %> vacancies and <%= @employees.size %> employees!</h3>
  <h3>Join us!</h3>
  <hr />
  <i>Actual version at github.com/Shirokowsky/vacancy_app</i>
</div>
