# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: dc3048eb2eb5bf94b942bfac8eac6c1cce12aa66e9545cb18b1f5945f0f60817726230314eddcd009886811dd540ba2c50998697b875859538e51ab180872923

test:
  secret_key_base: c409e536fbcfa5345f02c971bb7435ef66f78877008ac05acaaea377047b39df13f64fabbea73de599c043f1ad3b967a8f8cd1cdc494c50712023c70ec56ecbf

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: lkdsdf89dsl4iweu98wer79a8u983798rewie8ydfjkhc89fdlkrsuifewa98aerwo9834wriu32r8o9re786ewar673awr4832r89
