/*
  *= require normalize-rails
  *= require_tree .
  *= require_self
*/

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash);

// Colors
$gray: #323232;
$black: #212426;
$green: #5cb85c;
$darker-green: #4cae4c;

// Service staff
.trans {
  transition: all 0.3s ease-out;
  &:hover{
    transition: all 0.3s ease-out;
  }
}
.center {
  text-align: center;
}
small {
  color: darkgray;
}

h3{
  margin: 5px 0;
}

// Markup

nav {
  position: fixed;
  top:0; left: 0; right: 0;
  z-index: 555;
  padding: 1em;
  ul {
    padding: 0;
    margin: 0;
    li{
      list-style-type: none;
      display: inline-block;
    }
  }
  ul:nth-child(1) {
    float: left;
    font-weight: bolder;
  }
  ul:nth-child(2) {
    float: right;
  }
}

main {
  position: relative;
  padding: 1em 2em 5em;
  top: 50px;
  width: 640px;
  margin: auto;
  min-height: 80vh;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 1em;
}

a, input[type='submit'] {
  margin: 5px 0;
  padding: 5px 10px;
  border: 1px solid;
  text-decoration: none;
}

input[type='text'] {
  @extend .trans;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  color: gray;
  &:hover, &:focus {
    color: $black;
  }
}

.welcome {
  text-align: center;
  h1 {
    font-family: 'Berkshire Swash', cursive;
    border-bottom: 2px dashed;
  }
}

.block, form {
  display: block;
  position: relative;
  margin: 0 1em 1em;
  padding: 0 1em 2em;
  border: 1px dashed;
}

.block {
  @extend .trans;
  .buttons {
    position: absolute;
    right: 0.5em;
    bottom: 1em;
    opacity: 0.5;
  }
}

.skill {
  display: inline-block;
  border: 1px solid;
  padding: 2px 10px;
  margin: 2px;
  border-radius: 5px;
}

form {
  //width: 600px;
  margin: auto;
  padding: 2em;
  .field, .field_with_errors {
    margin-bottom: 1em;
    label {
      display: inline-block;
      width: 150px;
      text-align: right;
      margin-right: 10px;
    }
    input {
      display: inline-block;
      width: 250px;
    }
  }
  .actions {
    text-align: center;
  }
}
.field_with_errors {
  color: red;
  display: inline;
}

.ang_block {
  padding: 0;
  li {
    @extend .trans;
    list-style-type: none;
    margin: 5px 0;
    border: 1px solid transparent;
    padding: 1em;
    &:hover{
      cursor: pointer;
      border-color: $green;
      margin: 10px 0;
    }
  }
}

// Style

body {
  background-color: #e5e5e5;
  color: $gray;
  font-family: 'PT Sans';
}

nav {
  background: $gray;
  color: white;
  border-bottom: 2px solid $black;
  a {
    @extend .trans;
    color: white;
    border-color: white;
    &:hover{
      background-color: rgba(255,255,255,0.2);
    }
  }
  a.active{
    background-color: $green;
    border-color: $darker-green;
    color: $black;
  }
}

main {
  background-color: white;
}

footer {
  background-color: $gray;
  color: $green;
}

a, input[type='submit'] {
  @extend .trans;
  color: $gray;
  background-color: transparent;
  border-color: $gray;
  &:hover{
    background-color: silver;
  }
}

.welcome {
  h1 {
    border-bottom-color: $black;
  }
}

.block, form {
  border-color: transparent;
}

.block {
  &:hover{
    border: 1px dashed $gray;
    .buttons {
      opacity: 1;
    }
  }
}

.skill {
  color: white;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

#error_explanation {
  text-align: center;
  h2 {
    color: silver;
    margin: 0; padding: 0;
  }
}